@import 'styles/variables';

.footer {
  height: $footer-height-mobile;

  @media screen and (min-width: $breakpoint-tablet) {
    height: $footer-height-desktop;
  }

  background-color: rebeccapurple;
}
