@import "src/styles/variables";

.userInfo {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media screen and (min-width: $breakpoint-mobile) {
    grid-template-columns: 1fr 1fr;
  }

  .uneditableData {
    li {
      background-color: $color-primary;
    }
  }

  .uneditableData,
  .editableData {
    background-color: $color-secondary;
    border-radius: 0.5rem;
    padding: 0.5rem;

    li {
      border-radius: 0.5rem;
      padding: 0.5rem;

      div:not(:last-child) {
        font-weight: 600;
        margin-bottom: 0.25rem;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
