@import 'styles/variables';

.searchBanner {
  height: 50vh;
  background: radial-gradient(circle, #393269, #141425);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  position: relative;

  @media screen and (min-width: $breakpoint-tablet) {
    height: 30vh;
  }

  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity $transition-default;
  }

  &:has(input:focus) {
    &::after {
      opacity: 0.2;
    }
  }

  .input {
    padding: 1rem;
    font-size: 1rem;
    max-width: 25rem;
    width: 100%;
    border-radius: 10rem;
    border: none;
    outline: none;
    transition: box-shadow $transition-default;
    background-color: $color-secondary;
    z-index: 2;

    @media screen and (min-width: $breakpoint-tablet) {
      max-width: 35rem;
    }

    &:focus {
      -moz-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.2);
      -webkit-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.2);
      box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.2);
    }
  }
}
