@import "src/styles/variables";

.footer {
  height: $footer-height-mobile;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media screen and (min-width: $breakpoint-tablet) {
    height: $footer-height-desktop;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
  }

  .links {
    display: flex;
    gap: 0.75rem;
  }

  .copyright {
    .createdBy {
      color: $color-primary;
    }
  }
}
