$box-shadow-1: 0 1px 4px rgb(0 0 0 / 15%);

$footer-height-mobile: 7.5rem;
$footer-height-desktop: 6rem;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1920px;

$color-primary: red;
